{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "overrides": [
    {
        "files": ["*.js"],
        "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "jest/no-disabled-tests": "off"
        }
    }
    ],
    "rules": {
    "no-duplicate-imports": "error",
    "no-trailing-spaces": "error",
    "eol-last": "error",
    "@typescript-eslint/no-unused-vars": [
        "error",
        {
        "varsIgnorePattern": "_",
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true
        }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-inferrable-types": [
        "error",
        {
        "ignoreProperties": true
        }
    ],
    "@typescript-eslint/no-use-before-define": [
        "error",
        { "functions": false, "classes": false, "variables": false }
    ],
    "no-param-reassign": "warn"
    }
}